<%= image_tag "/cardflight_logo.png", alt: "Cardflight Logo", style: "margin-top: 20px; margin-bottom: 20px;" %>
<p> 
Hello good people of CardFlight! 

I know you are a rails shop, so what better way to submit my technical assessment than by building a rails app? 

If you are curious about the app, it is running Rails <%= Rails.version %> and Ruby <%= RUBY_VERSION %> and it deployed to a Ubuntu 24.04 server on Akamai (formerly Linode). 

You can find the complete codebase in <%= link_to "this GitHub repo", "https://github.com/evheath/cardflight" %>.


Okay, onto the task at hand.
</p>
