<div id="<%= dom_id transaction %>">
  <p>
    <strong>transaction_id:</strong>
    <%= transaction.transaction_id %>
  </p>
  <p>
    <strong>raw_message:</strong>
    <%= transaction.raw_message %>
  </p>

</div>
