<p style="color: green"><%= notice %></p>

<% content_for :title, "Transactions" %>

<h1>Transactions</h1>

<%= button_to "New", new_transaction_path, method: :get %>

<div id="transactions">
  <% @transactions.each do |transaction| %>
    <p>
      <%= link_to transaction.raw_message, transaction %>
    </p>
  <% end %>
</div>

